<div class="detalle_encuesta">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="d-flex card-body ">
                    <div class="detalle w-100">
                        <h2 class="mb-3">Encuesta N°1</h2>
                        <h6 class="card-text mb-3">
                            Realizado por: Inv.Juancarlos Rios <br> Numero Encuestado: 19 <br> Tema: Politica en Peru

                        </h6>
                    </div>
                    <div class="opciones mb-2">
                        <h6 class="card-text d-flex flex-column align-content-center h-100">
                            <button type="button" routerLink="/encuestas/1/registro" class="btn btn-gradient-success btn-fw mb-2">Registrar Persona</button>
                            <button type="button" class="btn btn-gradient-danger btn-fw mb-2" routerLink="/encuestas/">Finalizar Encuesta</button>
                        </h6>
                    </div>
                </div>

                <div class="card-body">
                    <h4 class="card-title">LISTA DE INVESTIGADORES</h4>
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th class="font-weight-bold">
                                        Codigo de Zona
                                    </th>
                                    <th class="font-weight-bold">
                                        Sector
                                    </th>
                                    <th class="font-weight-bold">
                                        RUC encuestado
                                    </th>
                                    <th class="font-weight-bold">
                                        Razon Social
                                    </th>
                                    <th class="font-weight-bold">
                                        Fecha
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="badge badge-gradient-info " style="font-size: 1.2em;">203121</label>
                                    </td>
                                    <td>
                                        Industrial
                                    </td>
                                    <td>
                                        20100190797
                                    </td>
                                    <td>
                                        LECHE GLORIA SOCIEDAD ANONIMA - GLORIA S.A
                                    </td>
                                    <td>
                                        28/08/2018
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="badge badge-gradient-info " style="font-size: 1.2em;">203121</label>
                                    </td>
                                    <td>
                                        Industrial
                                    </td>
                                    <td>
                                        20100190797
                                    </td>
                                    <td>
                                        LECHE GLORIA SOCIEDAD ANONIMA - GLORIA S.A
                                    </td>
                                    <td>
                                        28/08/2018
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="badge badge-gradient-info " style="font-size: 1.2em;">203121</label>
                                    </td>
                                    <td>
                                        Industrial
                                    </td>
                                    <td>
                                        20100190797
                                    </td>
                                    <td>
                                        LECHE GLORIA SOCIEDAD ANONIMA - GLORIA S.A
                                    </td>
                                    <td>
                                        28/08/2018
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="badge badge-gradient-info " style="font-size: 1.2em;">203121</label>
                                    </td>
                                    <td>
                                        Industrial
                                    </td>
                                    <td>
                                        20100190797
                                    </td>
                                    <td>
                                        LECHE GLORIA SOCIEDAD ANONIMA - GLORIA S.A
                                    </td>
                                    <td>
                                        28/08/2018
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>