<!-- partial:../../partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="../../../assets/img/perfil.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Erick Diaz</span>
                    <span class="text-secondary text-small">Administrador</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">
                <span class="menu-title">Perfil</span>
                <i class="mdi mdi-account-card-details menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/encuestas">
                <span class="menu-title">Encuestas</span>
                <i class="mdi mdi-bookmark-check menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/encuestadores">
                <span class="menu-title">Encuestadores</span>
                <i class="mdi mdi-account-star menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin-encuesta">
                <span class="menu-title">Administracion Encuestas</span>
                <i class="mdi mdi-bookmark-check menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/estadisticas">
                <span class="menu-title">Estadisticas</span>
                <i class="mdi mdi-chart-pie menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/investigadores">
                <span class="menu-title">Investigadores</span>
                <i class="mdi mdi-account-star menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- partial -->