<div class="encuestadores">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card">
                    <div class="card-body">
                        <div class="search-field d-none d-md-block">
                            <form class="d-flex align-items-center h-100" action="#">
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                                    </div>
                                    <input type="text" class="form-control bg-transparent border-0" placeholder="Buscar Encuestadores">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">LISTA DE ENCUESTADORES</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="font-weight-bold">
                                        Codigo ORCID
                                    </th>
                                    <th class="font-weight-bold">
                                        Apellido
                                    </th>
                                    <th class="font-weight-bold">
                                        Nombre
                                    </th>
                                    <th class="font-weight-bold">
                                        Opciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="badge badge-gradient-info " style="font-size: 1.2em;">131313</label>
                                    </td>
                                    <td>
                                        Fernandes
                                    </td>
                                    <td>
                                        Rodrigo
                                    </td>
                                    <td>
                                        <label class="badge badge-gradient-success">
                                       <i class="mdi mdi-eye mdi-24px mr-3 "></i>
                                       <i class="mdi mdi-pencil mdi-24px mr-3 "></i>
                                       <i class="mdi mdi-delete mdi-24px  "></i>
                                    </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="badge badge-gradient-info " style="font-size: 1.2em;">131313</label>
                                    </td>
                                    <td>
                                        Fernandes
                                    </td>
                                    <td>
                                        Rodrigo
                                    </td>
                                    <td>
                                        <label class="badge badge-gradient-success">
                                       <i class="mdi mdi-eye mdi-24px mr-3 "></i>
                                       <i class="mdi mdi-pencil mdi-24px mr-3 "></i>
                                       <i class="mdi mdi-delete mdi-24px  "></i>
                                    </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="badge badge-gradient-info " style="font-size: 1.2em;">131313</label>
                                    </td>
                                    <td>
                                        Fernandes
                                    </td>
                                    <td>
                                        Rodrigo
                                    </td>
                                    <td>
                                        <label class="badge badge-gradient-success">
                                       <i class="mdi mdi-eye mdi-24px mr-3 "></i>
                                       <i class="mdi mdi-pencil mdi-24px mr-3 "></i>
                                       <i class="mdi mdi-delete mdi-24px  "></i>
                                    </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="badge badge-gradient-info " style="font-size: 1.2em;">131313</label>
                                    </td>
                                    <td>
                                        Fernandes
                                    </td>
                                    <td>
                                        Rodrigo
                                    </td>
                                    <td>
                                        <label class="badge badge-gradient-success">
                                       <i class="mdi mdi-eye mdi-24px mr-3 "></i>
                                       <i class="mdi mdi-pencil mdi-24px mr-3 "></i>
                                       <i class="mdi mdi-delete mdi-24px  "></i>
                                    </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>