<div class="dashboard">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="mdi mdi-account-outline icon-md mr-2"></i> Perfil Usuario</h4>
                    <div class="row d-flex justify-content-center mt-3 mt-2">
                        <div class="col-6 pr-1">
                            <img src="../../../assets/img/face21.jpg" class="img rounded-circle mr-3" alt="image">
                        </div>

                    </div>
                    <div class="d-flex mt-2 align-items-top">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"></h4>
                                <p class="card-description">
                                    DATOS GENERALES
                                </p>
                                <form class="forms-sample">
                                    <div class="form-group row">
                                        <label for="exampleInputUsername2" class="col-sm-4 col-form-label font-weight-bold">Codigo de Usuario</label>
                                        <div class="col-sm-8">
                                            <label for="exampleInputEmail2" class="col-form-label">16200215</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputEmail2" class="col-sm-4 col-form-label font-weight-bold">Nombre</label>
                                        <div class="col-sm-8">
                                            <label for="exampleInputEmail2" class="col-form-label">ERICK GIANFRANCO</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputMobile" class="col-sm-4 col-form-label font-weight-bold">Apellido</label>
                                        <div class="col-sm-8">
                                            <label for="exampleInputEmail2" class="col-form-label">DIAZ SILVA</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputPassword2" class="col-sm-4 col-form-label font-weight-bold">Telefono Fijo</label>
                                        <div class="col-sm-8">
                                            <label for="exampleInputEmail2" class="col-form-label">01 7985105</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label font-weight-bold">Telefono Movil</label>
                                        <div class="col-sm-8">
                                            <label for="exampleInputEmail2" class="col-form-label">921882201</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label font-weight-bold">Numero de Documento (DNI)</label>
                                        <div class="col-sm-8">
                                            <label for="exampleInputEmail2" class="col-form-label">73368517</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label font-weight-bold">Correo Electronico</label>
                                        <div class="col-sm-8">
                                            <label for="exampleInputEmail2" class="col-form-label">kcire27-07@hotmail.com</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label font-weight-bold">Genero</label>
                                        <div class="col-sm-8">
                                            <label for="exampleInputEmail2" class="col-form-label">Masculino</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>